.favorite{
    margin-top: 5rem;
    &__title{
        font-family: 'SONGER SemiExpanded';
        font-style: normal;
        font-weight: 700;
        font-size: 5rem;
        color: #FFFFFF;
    }
    div{
        margin-top: 2rem;
    }
}